@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Webkit (Chrome, Safari, Opera) */
  .scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #8888888e;
  }

  /* Firefox */
  .scrollbar {
    scrollbar-width: none;
    scrollbar-color: #8888888e transparent;
  }
}
